@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';

body {
	font-family: "Source Sans Pro", sans-serif;
	background: -webkit-linear-gradient(left top,black,white);
	background: -o-linear-gradient(bottom right,black,white);
	background: -moz-linear-gradient(bottom right,black,white);
	background: linear-gradient(to bottom right,black,white);
	-webkit-font-smoothing: antialiased;
}
p {padding: 0px;
	margin: 0;
	background: -webkit-linear-gradient(right top,black,white);
	background: -o-linear-gradient(bottom left,black,white);
	background: -moz-linear-gradient(bottom left,black,white);
	background: linear-gradient(to bottom left,black,white);
}
body .container {
	text-align: center;
	min-width: 200px;
	min-height: 87vh;
}
h1 {text-align: center;	
    font-size: 50px;}
footer {font-size: 10px;}

