<!DOCTYPE html>
<html>
<head>
<!--import-->
	<title>Hardware Production Co.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--css style-->
  <style>
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';

	h1 {text-align: center;	
		font-size: 50px;}
	
        body {font-family: "Source Sans Pro", sans-serif;}
	</style>
</head>
<body>
<!--nav bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	
	<!--Toggle/collapsilbe button-->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!--links-->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	<ul class="navbar-nav">
		<!--Dropdown-->
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin</a>
			<div class="dropdown-menu">
			<a class="dropdown-item" href="/logout">Logout</a>
                        <a class="dropdown-item" href="/adminsellinfo">Record of selling secondhand device</a>
                        <a class="dropdown-item" href="/adminhistory">History</a>
                        </div>
		</li>
	</ul>
	
	
</div>
</nav>
<!--content-->
<h1>Admin page</h1>


</body>
</html>
